@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
	--background-color: #36393f;
	background: var(--background-color);
	font-family: 'Josefin Sans', sans-serif;
}

/*
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Secular One', sans-serif;
font-family: 'Silkscreen', cursive;
*/
